#toolbar-firegpg {
  list-style-image: url("chrome://firegpg/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

.firegpg-menu-sign {
  list-style-image: url("chrome://firegpg/skin/sign.png");
}

.firegpg-menu-rease {
  list-style-image: url("chrome://firegpg/skin/rase.png");
}

.firegpg-menu-import {
  list-style-image: url("chrome://firegpg/skin/import.png");
}

.firegpg-menu-export {
  list-style-image: url("chrome://firegpg/skin/export.png");
}

.firegpg-menu-verif {
  list-style-image: url("chrome://firegpg/skin/verif.png");
}

.firegpg-menu-crypt {
  list-style-image: url("chrome://firegpg/skin/crypt.png");
}

.firegpg-menu-decrypt {
  list-style-image: url("chrome://firegpg/skin/decrypt.png");
}

.firegpg-menu-options {
  list-style-image: url("chrome://firegpg/skin/options.png");
}

.firegpg-menu {
	list-style-image: url("chrome://firegpg/skin/firegpg.png");
}

#firegpg-toolbar-button:hover {
  -moz-image-region: rect(24px 24px 48px  0px);
}

[iconsize="small"] #firegpg-toolbar-button {
  -moz-image-region: rect( 0px 40px 16px 24px);
}

[iconsize="small"] #firegpg-toolbar-button:hover {
  -moz-image-region: rect(24px 40px 40px 24px);
}

